p
{
	font-family: Microsoft Sans Serif;
}
h1
{
	font-family: Microsoft Sans Serif;
}
h2
{
	font-family: Microsoft Sans Serif;
}
h5
{
	font-family: Microsoft Sans Serif;
}
a
{
	font-family: Microsoft Sans Serif;
	text-decoration: none;
}
a:hover
{
	font-family: Microsoft Sans Serif;
	font-size: 125%;
	color: red;
}
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

