p
{
	font-size: 135%;
	font-family: Times new Roman;
	font-style: oblique;
}
h1
{
	font-family: Microsoft Sans Serif;
}
h2
{
	font-family: Microsoft Sans Serif;
}
h5
{
	font-family: Microsoft Sans Serif;
}
a
{
	font-family: Microsoft Sans Serif;
	text-decoration: none;
}
a:hover
{
	font-family: Microsoft Sans Serif;
	font-size: 125%;
	color: red;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
